<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./script.js"> </script>
  <link rel="stylesheet" href="../static/css/style.css">

  


</head>



<body>

  <h1>Zájezd není určen pro neplavce</h1> 
  <div class="center">
    <ul class="nav">
      <li><a href="./index.html">Hlavní stránka</a></li>
      
    </ul>
  </div>
  <br>

  <p>Pro studenty, kteří neumí plavat není z bezpěčnostních důvodu, povoleno se zůčastnit zájezdu.</p>
  <img src="/static/img/7074.jpg" alt="obrazek">

  <footer >
    <p>SPŠE Ječná 2023</p>
    <a class="bt2" href="https://docs.google.com/forms/d/e/1FAIpQLSfx6rMg9_DKx6ye6icQhF6C9GUeO0Iw6Tk8h0cii_anR_Uduw/viewform?usp=sf_link">Feedback</a>  
</footer>

</body>
</html>