<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">  
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./script.js"> </script>
    <link rel="stylesheet" href="../static/css/style.css">   


</head>


<body> 


<h1>Vodácký kurz 2023 SPŠE Ječná</h1> 

<div class="center">
    <ul class="nav">
        <li><a href="./registrace.html">Registrační formulář</a></li>
      <li><a href="./vypis.html">Výpis</a></li>
    </ul>
  </div>
  <br>

  <p>Dobrý den, zveme vás na jarní zájezd na Vltavu</p>
  <p>Termín zájezdu: 25.5. až 27.5. 2023</p>
  <img src="/static/img/logo-300px.png" alt="Logo">


<footer >
    <p>SPŠE Ječná 2023</p>
    <a class="bt2" href="https://docs.google.com/forms/d/e/1FAIpQLSfx6rMg9_DKx6ye6icQhF6C9GUeO0Iw6Tk8h0cii_anR_Uduw/viewform?usp=sf_link">Feedback</a>  
</footer>


</body>
</html>